{% extends 'base.html.twig' %}

{% block headerTitle %}Nouvelle playfile{% endblock %}

{% block body %}
    <table>
        {% for playfile in playfiles %}
        <tr>
            <th>
                {{ playfile.key }}
            </th>
            <td>
                {{ playfile.title }}
            </td>
            <td>
                {{ playfile.description }}
            </td>
            <td>
                {{ playfile.content }}
            </td>
            <td>
                <a href="{{ url('playfile_update', { id: playfile.id}) }}">Mettre à jour</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url('playfile_new') }}">Nouvelle playfile</a>
{% endblock %}
